<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security pre-post-annotations="enabled" jsr250-annotations="enabled"/>
    <http use-expressions="true">
        <intercept-url pattern="/admin*" access="ROLE_ADMIN"/>
        <intercept-url pattern="/console*" access="ROLE_ADMIN"/>
        <intercept-url pattern="/control*" access="hasAnyRole(ROLE_ADMIN,ROLE_AUTHOR)"/>
        <intercept-url pattern="*" access="hasAnyRole(ROLE_ANONYMOUS,ROLE_ADMIN,ROLE_AUTHOR)"/>
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
        <form-login />
        <logout logout-success-url="/"/>
<!--        <http-basic/>-->
        <csrf disabled="true"/>
        <headers>
            <frame-options disabled="true"/>
        </headers>
    </http>

    <authentication-manager>
<!--        <authentication-provider>-->
<!--            <password-encoder ref="passwordEncoder"/>-->
<!--            <user-service>-->
<!--                &lt;!&ndash;password = admin&ndash;&gt;-->
<!--                <user name="admin" password="$2a$10$RFepP.L7LTgZQ8STnpifGua5Srv7Pt9vVVwh23LtYDGuo476OCMNq"-->
<!--                      authorities="ROLE_ADMIN"/>-->
<!--            </user-service>-->
<!--        </authentication-provider>-->
        <authentication-provider>
            <password-encoder ref="passwordEncoder"/>
            <jdbc-user-service data-source-ref="embeddedDBDataSource"
                               users-by-username-query="select username, password, enabled from users where username=?"
                               authorities-by-username-query="select username, authority from authorities join users where username=?"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="passwordEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </beans:bean>


</beans:beans>